<header>
    <h1>CRUD-CESI</h1>
    <nav>
        <ul>
            <a href="/"><li>Page d'accueil</li></a>
            <a href="/add"><li>Ajouter un utilisateur</li></a>
        </ul>
    </nav>
</header>